.flex-center {
    display:flex;
    justify-content: center;
    align-content: center;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

.margin-right {
    margin-right: 20px;
}

:root {
    --main-bg-color: #fffafb;
}

body {
    background-color: var(--main-bg-color);
}

.CodeMirror-scroll {
    max-height: 300px;
}
.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

#profile-post-image > p > img {
    max-width:300px;
}

#index-post-image > p > img {
    max-width:600px;
}

.upvoteIcon, .downvoteIcon {
    color: #8c8c8c;
}

.upvoteIcon:hover {
    color: #5bc0de;
    cursor: pointer;
}

.upvoteActive {
    color: #1b6d85;
}

.downvoteIcon:hover {
    color: #ce8483;
    cursor: pointer;
}

.downvoteActive {
    color: #761c19;
}